[Desktop Entry]
Encoding=UTF-8
Version=1.1
Type=Application
Terminal=false
Exec=/usr/local/bin/xmrigui
Name=XMRiGUI
Icon=/usr/share/icons/hicolor/256x256/apps/xmrigui.png