Package: xmrigui
Source: xmrigui
Version: 1.6-0
Architecture: amd64
Maintainer: LinuxHeki <linuxheki@gmail.com>
Description: GUI for XMRig crypto miner
Depends: python3 (>= 3.6), python3-pip, libuv1-dev, gir1.2-appindicator3-0.1
